@-webkit-keyframes fadeyb {
    0% {color:#3119b9;}
    50% {color:#fff8a0;}
    100% {color:#3119b9;}
}
html, body {
			margin: 0;
			padding: 0;
			font-family: 'Righteous', cursive;

		}
/* Nav Bar */
.heading {
	font-size: 6em;
	text-align: center;
	color: white;
	padding: 0.5%;
	margin-top: 0;
	margin-bottom: 0.2em;
}
.heading:hover {
	-webkit-animation: fadeyb 4s infinite;
}
.headinglink{
	text-decoration: none;
}
#backgroundheader {
	width: 100%;
	height: auto;
	position: sticky;
	top: 0;
	left: 0;
    right: 0;
	text-align: center;
	background-image: url("brainfreezeheader.jpg");
	background-size: cover;
	padding-bottom: 1%;
}
.navheadings {
	color: white;
	text-decoration: none;
	padding: 1.5%;
	font-size: 1.7em;

}
.navheadings:hover {
	color: #3119b9;
    transition: .5s ease;
}
.headercontent {
	max-height: 100%;
}

/* Hamburger Nav */
.hamburgerbutton {
  background-color: transparent;
  border: none;
  display: none;
}
#text {
  display: none;
  float: none;
}
#text a{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}
#text li{
	list-style: none;  
}
#text ul{
    padding: 0;
}
#close {
  display: none;
}
#open {
  display: block;
}
button:focus {
  outline: none;
}
.hamburger {
	clear: both;
	display: block;
	float: left;
	background-size: cover;
	background-image: url("brainfreezeheader.jpg");
	padding: 3%;
	position: fixed;
}

/* Headings */
.headingontop {
	position: fixed;
	left: 38%;
	top: 40%;
	transform: rotate(90deg);
}
.headingontopsmall {
	display: none;
}
.pageheading {
	font-size: 2.8em;
	color: #fa03eb;
	background-color: #fff8a0;
	padding: 8%;
}
.headingontoppage {
	display: flex;
	justify-content: center;
	margin: 1%;
}
.headingontoppage .pageheading{
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0;
}

/* Home Page */
#section1, #section2 {
	width: 100%;
	background-attachment: fixed;
}
#section1 {
	height: auto;
	background-color: #fff8a0;
    padding-top: 3%;
	padding-bottom: 3%;
}
#section2 {
	display: inline-flex;
    height: 83vh;
    background-color: #f4d9ea;
}
.backgroundimage {
	width: 100%;
	clear: both;
}
.quotediv {
	width: 60%;
	float: left;
	padding-bottom: 3%;
	margin-bottom: 3%;
}
.quote {
	color: #fa03eb;
	font-size: 2.5em;
	max-width: 70%;
	opacity: 1;
	margin: 3%;
	margin-top: 15%;
}
.vendingmachine {
	width: 40%;
	height: auto;
	float: right;
}
.vendingmachinesize {
	height: 70vh;
}
.clear {
	clear: both;
}
.howtosec {
	width: 20%;
	display: inline-block;
	margin: auto;
	text-align: center;
	background-color: #fff8a0;
	height: 50vh;
	vertical-align: top;
	padding-bottom: 1%;
	border-radius: 50%;
}
.howtotitle {
	font-size: 1.5em;
	vertical-align: top;
	color: #fa03eb;
}
.howtoimg {
	max-height: 90%;
}

/* Menu Page */

#menubackground {
    background-image: linear-gradient(to right, #a693e0, #f4d9ea);
    background-size: cover;
}
#productsec {
	width: 98%;
	height: 100%;
	padding: 1%;
	text-align: center;
}
.slides {
	width: 30%;
	text-align: center;
	display: inline-block;
}
.buttonnext {
	float: right;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;

}
.buttonnext:hover, .buttonprevious:hover {
	color: #e903ed;
	position: relative;
}
.buttonprevious {
	float: left;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;
}

.icecreamimage {
	padding: 2%;
	max-width: 50%;
}
.headingSlides{
	color: white;
	font-size: 2em;

}
#iceslideshow, #coneslideshow, #topslideshow {
	height: 35vh;
}
.productcaption {
	color: white;
	font-size: 1.3em;
}

/*Locations Page */
.addresses {
	float: left;
	width: 42%;
	color: #8a03fa;
	background-color: #aff0ff;
	padding: 2%;
	height: 100vh;
}
.addresses a{
	text-decoration: none;
	color: #8a03fa;
}
.addresses a:hover {
	color: #fa03eb;
}
.map {
	float: right;
	width: 50%;
	background-color: #a693e0;
	text-align: center;
	padding: 2%;
	height: 100vh;
}
.singleaddress {
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 3%;
}
.singleaddress:hover {
	margin-left: 2%;
}
.singleaddress h3{
	font-size: 1.5em;
	margin-top: 3%;
	margin-bottom: 3%;
}
.singleaddress p{
	margin-top: 0;
	font-family: 'Lexend Exa', sans-serif;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    .pages {
        display: none;
    }

    .heading {
        float: right;
        font-size: 3em;
        margin-right: 3%;
        margin-top: 0;
    }

    #backgroundheader {
        padding: 2%;
    }

    #productsec1 {
        clear: both;
        height: 100vh;
    }

    .hamburgerbutton {
        display: block;
    }

    .charactermenu {
        display: none;
    }

    .sectionwrapper {
        width: 100%;
    }

    .vendingmachine {
        float: left;
        width: 100%;
    }

    .vendingmachinesize {
        height: 70vh;
        margin-left: 3%;
    }

    .quotediv {
        width: 100%;
        margin-left: 5%;
    }

    .quote {
        left: 5%;
        font-size: 2.1em;
        top: 45%;
    }

    .slides {
        width: 100%;
        float: left;
    }

    #iceslideshow, #coneslideshow, #topslideshow {
        height: 40vh;
    }

    .howtosec {
        width: 60%;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 18%;
    }

    #section2 {
        display: inline-block;
        margin-bottom: 3%;
        height: auto;
        padding-bottom: 3%;
    }
    .addresses, .map {
    	float: none;
    	width: 100%;
    	height: 90vh;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
    .slides {
        width: 45%;
    }
}
@media only screen and (max-width: 1430px){
    .headingontop {
	display: none;
}
	.headingontopsmall {
		display: block;
	}
	.pageheading {
		padding: 3%;
		margin: 0;
	}
}
