@-webkit-keyframes fadeyb {
    0% {color:#3119b9;}
    50% {color:#fff8a0;}
    100% {color:#3119b9;}
}
html, body {
			margin: 0;
			padding: 0;
		}
/* Nav Bar */
.heading {
	font-size: 6em;
	font-family: 'Righteous', cursive;
	text-align: center;
	color: white;
	padding: 0.5%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.heading:hover {
	-webkit-animation: fadeyb 4s infinite;
}
.headinglink{
	text-decoration: none;
}
#backgroundheader {
	width: 100%;
	height: auto;
	position: sticky;
	top: 0;
	left: 0;
	text-align: center;
	background-image: url("brainfreezeheader.jpg");
	background-size: cover;
	padding-bottom: 1%;
}
.navheadings {
	color: white;
	text-decoration: none;
	font-family: 'Righteous', cursive;
	padding: 1.5%;
	font-size: 1.7em;

}
.navheadings:hover {
	color: #3119b9;
    transition: .5s ease;
}
.headercontent {
	max-height: 100%;
}

/* Hamburger Nav */
.hamburgerbutton {
  background-color: transparent;
  border: none;
  display: none;
}
#text {
  display: none;
  float: none;
  font-family: 'Righteous', cursive;
}
#text a{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}
#text li{
	list-style: none;
}
#close {
  display: none;
}
#open {
  display: block;
}
button:focus {
  outline: none;
}
.hamburger {
	clear: both;
	display: block;
	float: left;
	background-size: cover;
	background-image: url("brainfreezeheader.jpg");
	padding: 3%;
	position: fixed;
}

/* Home Page */
#section1, #section2 {
	width: 100%;
}
#section1 {
	height: auto;
	background-color: #fff8a0;
    	margin-bottom: 4%;
    	padding-top: 3%;
	padding-bottom: 3%;
}
#section2 {
	display: inline-flex;
}
.backgroundimage {
	width: 100%;
	clear: both;
}
.quotediv {
	width: 60%;
	float: left;
	/*background-image: url("panda-01.svg");
	background-size: cover; */
	padding-bottom: 3%;
	margin-bottom: 3%;
}
.quote {
	font-family: 'Righteous', cursive;
	color: #fa03eb;
	font-size: 2.5em;
	max-width: 70%;
	opacity: 1;
	margin: 3%;
	margin-top: 15%;
}
.vendingmachine {
	width: 40%;
	height: auto;
	float: right;
}
.vendingmachinesize {
	height: 50%;
}
.clear {
	clear: both;
}
.howtosec {
	width: 20%;
	display: inline-block;
	margin: auto;
	text-align: center;
	background-color: #fff8a0;
	height: auto;
	vertical-align: top;
	padding-bottom: 1%;
}
.howtotitle {
	font-family: 'Righteous', cursive;
	font-size: 1.5em;
	vertical-align: top;
	color: #fa03eb;
}
.howtoimg {
	max-height: 30%;
}

/* Menu Page */
#menubackground {
}
#productsec {
	width: 100%;
	height: 100%;
	padding: 1%;
	background-image: linear-gradient(#a693e0, #f4d9ea);
}
.slides {
	width: 30%;
	text-align: center;
	display: inline-block;
}
.buttonnext {
	float: right;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;

}
.buttonnext:hover, .buttonprevious:hover {
	color: #e903ed;
	position: relative;
}
.buttonprevious {
	float: left;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;
}

.icecreamimage {
	padding: 2%;
	max-width: 50%;
}
.headingSlides{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 2em;

}
#iceslideshow, #coneslideshow, #topslideshow {
	height: 35vh;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
	.pages{
		display: none;
	}
	.heading {
		float: right;
		font-size: 3em;
		margin-right: 3%;
		margin-top: 0;
	}
	#backgroundheader {
		padding: 2%;
	}
	#productsec1 {
		clear: both;
		height: 100vh;
	}
	.leftCell {
		float: none;
		width: 95%;
	}
	.rightCell {
		float: none;
		width: 95%;
	}
	.texticeCreamLeft {
		font-size: 1em;
		max-width: 20%;
	} 
	.texticeCreamRight {
		float: left;
		font-size: 1em;
		max-width: 20%;
	}
	.hamburgerbutton {
		display: block;
	}
	.charactermenu {
		display: none;
	}
	.sectionwrapper {
		width: 100%;
	}
	.vendingmachine {
		float: left;
		width: 100%;
	}
	.quotediv {
		width: 100%;
	}
	.quote {
		left: 5%;
		font-size: 2.1em;
		top: 45%;
	}
	.slides {
		width: 100%;
		float: left;
	}
	#iceslideshow, #coneslideshow, #topslideshow{
		height: 40vh;
	}
	.howtosec {
		width: 45%;
	}
	#section2 {
	display: inline-block;
	margin-top: 3%;
	margin-bottom: 3%;
}
}
