@-webkit-keyframes fadeyb {
    0% {color:#3119b9;}
    50% {color:#fff8a0;}
    100% {color:#3119b9;}
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Righteous', cursive;
	max-width: 100%;
		

		}
/* Nav Bar */
.heading {
	font-size: 6em;
	text-align: center;
	color: white;
	padding: 0.5%;
	margin-top: 0;
	margin-bottom: 0.2em;
}
.heading:hover {
	-webkit-animation: fadeyb 4s infinite;
}
.headinglink{
	text-decoration: none;
}
#backgroundheader {
	width: 100%;
	height: auto;
	position: sticky;
	top: 0;
	left: 0;
    right: 0;
	text-align: center;
	background-image: url("brainfreezeheader.jpg");
	background-size: cover;
	padding-bottom: 1%;
}
.navheadings {
	color: white;
	text-decoration: none;
	padding: 1.5%;
	font-size: 1.7em;

}
.navheadings:hover {
	color: #3119b9;
    transition: .5s ease;
}
.headercontent {
	max-height: 100%;
}

/* Hamburger Nav */
.hamburgerbutton {
  background-color: transparent;
  border: none;
  display: none;
}
#text {
  display: none;
  float: none;
}
#text a{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}
#text li{
	list-style: none;  
}
#text ul{
    padding: 0;
}
#close {
  display: none;
}
#open {
  display: block;
}
button:focus {
  outline: none;
}
.hamburger {
	clear: both;
	display: block;
	float: left;
	background-size: cover;
	background-image: url("brainfreezeheader.jpg");
	padding: 2%;
	position: fixed;
}
.hamburger ul li {
	padding-top: 2%;
	padding-bottom: 2%;
}

/* Headings */
.headingontopsmall {
	display: block;

}
.pageheading {
	font-size: 2.8em;
	color: #fa03eb;
	background-color: #fff8a0;
	padding: 1%;
	padding-left: 3%;
	padding-right: 3%;
	margin: 0;
}
.headingontoppage {
	display: flex;
	justify-content: center;
	margin: 1%;
}
 /* Footer */
 .footer a{
	text-decoration: none;
	color: #8a03fa;
	margin-left: 2%;
	margin-right: 2%;
 }
 .footer a:hover {
 	color: #fa03eb;
 }
 .footer {
 	color: #fa03eb;
 	text-align: center;
 	clear: both;
 	margin-top: 10%;
 	padding-top: 3%;
 	padding-bottom: 3%;
 	background-color: #fff8a0;
 	max-height: 5vh;
 	position: static;
 	bottom: 0;
 }

/* Home Page */
#section1, #section2, #section3 {
	width: 100%;
	background-attachment: fixed;
}
#section1 {
	height: auto;
	background-color: #fff8a0;
    padding-top: 3%;
	padding-bottom: 3%;
}
#section2 {
	display: inline-flex;
    height: 95vh;
    background-color: #f4d9ea;
}
#section3 {
	display: flex-block;
	align-content: center;
	max-width: 100%;
}
.backgroundimage {
	width: 100%;
	clear: both;
}
.quotediv {
	width: 60%;
	float: left;
	padding-bottom: 3%;
	margin-bottom: 3%;
}
.quote {
	color: #fa03eb;
	font-size: 2.5em;
	max-width: 70%;
	opacity: 1;
	margin: 3%;
	margin-top: 15%;
}
.vendingmachine {
	width: 40%;
	height: auto;
	float: right;
}
.vendingmachinesize {
	height: 70vh;
}
.clear {
	clear: both;
}
.howtosec {
	width: 20%;
	display: inline-block;
	margin: auto;
	text-align: center;
	background-color: #fff8a0;
	height: 50vh;
	vertical-align: top;
	padding-bottom: 1%;
	border-radius: 50%;
}
.howtotitle {
	font-size: 1.5em;
	vertical-align: top;
	color: #fa03eb;
}
.howtoimg {
	max-height: 90%;
}
.gridimage {
	width: 32%;
	vertical-align: top;
	text-align: center;
	margin: 0.5%;
}

/* Menu Page */

#menubackground {
    background-image: linear-gradient(to right, #a693e0, #f4d9ea);
    background-size: cover;
}
#productsec {
	width: 98%;
	height: 100%;
	padding: 1%;
	text-align: center;
}
.slides {
	width: 30%;
	text-align: center;
	display: inline-block;
}
.buttonnext {
	float: right;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;

}
.buttonnext:hover, .buttonprevious:hover {
	color: #e903ed;
	position: relative;
	cursor: pointer;
}
.buttonprevious {
	float: left;
	border: none;
	background-color: transparent;
	color: #fff8a0;
	padding: 5%;
}

.icecreamimage {
	padding: 2%;
	max-width: 50%;
}
.headingSlides{
	color: white;
	font-size: 2em;

}
#iceslideshow, #coneslideshow, #topslideshow {
	height: 35vh;
}
.productcaption {
	color: white;
	font-size: 1.3em;
}

/*Locations Page */
.addresses {
	float: left;
	width: 42%;
	color: #8a03fa;
	background-color: #aff0ff;
	padding: 2%;
	height: 100vh;
}
.addresses a{
	text-decoration: none;
	color: #8a03fa;
}
.addresses a:hover {
	color: #fa03eb;
}
.map {
	float: right;
	width: 50%;
	background-color: #a693e0;
	text-align: center;
	padding: 2%;
	height: 100vh;
}
.map iframe {
	width: 90%;
	height: 70%;
}
.singleaddress {
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 3%;
}
.singleaddress:hover {
	margin-left: 2%;
}
.singleaddress h3{
	font-size: 1.5em;
	margin-top: 3%;
	margin-bottom: 3%;
}
.singleaddress p{
	margin-top: 0;
	font-family: 'Lexend Exa', sans-serif;
}

/* Contact Page */

#backgroundcontact {
	background-color: black;
}
.selectionscreen {
	background-color: black;
	width: 94%;
	height: 4vh;
	color: white;
	padding: 1%;
	margin-bottom: 5%;
	overflow: hidden;
	position: relative;
	z-index: -1;
	white-space: nowrap;
}
.selectionscreen p{
	font-size: 1.8em;
	font-family: 'VT323', monospace;
	display: inline-block;
	position: absolute;
    margin: 0;
	animation: scrolltoside 7s infinite linear;
	text-align: none;
}
@-webkit-keyframes scrolltoside{
	0%   { transform: translate(140%); }
    100% { transform: translate(-240%); }
}
.sociallogos {
	width: 8vw;
	margin: 1%;
	padding: 1%;
}
.socialbuttons {
	background-color: transparent;
	border: none;
	display: inline-block;
	margin: 0.5%;
}
.socialbuttons:hover {
	cursor: pointer;
}
.socialimagebox {
	border: solid;
	width: 40vw;
	margin: auto;
	height: 40vh;
}
.socialimagebox img{
	height: 40vh;
	max-width: 100%;
	object-fit: cover;
}
#placeholdersocialtext {
	color: white;
	z-index: 1;
	font-family: 'VT323', monospace;
	font-size: 1.5em;
}
.leftcontact {
	float: left;
	margin: 1%;
}
.leftcontact, .rightcontact {
	margin-top: 5%;
	text-align: center;
	width: 48%;
}
.rightcontact {
	float: right;
}
form {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 2%;
	color: white;
	font-family: 'VT323', monospace;
}
legend {
	font-size: 2.5em;
	margin-bottom: 2%;
}
form h3{
	font-size: 1.8em;
}
form input {
	margin: 1%;
	padding: 3%;
	border: none;
}
textarea {
	margin-top: 5%;
	height: 15vh;
	width: 60%;
	border: none;
}
form button{
	background-color: transparent;
	color: white;
	border: solid white;
	border-radius: 5px;
	padding: 1.5%;
	font-size: 1.3em;
	margin-top: 2%;
	font-weight: bold;
	font-family: 'VT323', monospace;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    .pages {
        display: none;
    }

    .heading {
        float: right;
        font-size: 3em;
        margin-right: 3%;
        margin-top: 0;
    }

    #backgroundheader {
        padding: 2%;
        max-width: 96%;
    }

    #productsec1 {
        clear: both;
        height: 100vh;
    }

    .hamburgerbutton {
        display: block;
    }

    .charactermenu {
        display: none;
    }

    .sectionwrapper {
        width: 100%;
    }

    .vendingmachine {
        float: left;
        width: 100%;
    }

    .vendingmachinesize {
        height: 70vh;
        margin-left: 3%;
    }

    .quotediv {
        width: 95%;
        margin-left: 5%;
    }

    .quote {
        left: 5%;
        font-size: 2.1em;
        top: 45%;
    }

    .slides {
        width: 100%;
        float: left;
    }

    #iceslideshow, #coneslideshow, #topslideshow {
        height: 40vh;
    }

    .howtosec {
        width: 60%;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 18%;
    }

    #section2 {
        display: inline-block;
        margin-bottom: 3%;
        height: auto;
        padding-bottom: 20%;
    }
    .addresses, .map {
    	float: none;
    	width: 96%;
    	height: 90vh;
    }
    @-webkit-keyframes scrolltosidesmall{
	0%   { transform: translate(180%); }
    100% { transform: translate(-260%); }
	}
    .selectionscreen p{
    	animation: scrolltosidesmall 10s infinite linear;
    }
    .leftcontact, .rightcontact {
	width: 98%;
	float: none;
	}
	.rightcontact {
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: center;
	}
	.sociallogos {
	width: 12vw;
}
	.socialimagebox {
		width: 80vw;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
    .slides {
        width: 45%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 580px) {
	.addresses {
	height: 110vh;
	}
}
